[submodule "libs/fp"]
	path = libs/fp
	url = https://github.com/zjhmale/functional-cpp.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/derivejson"]
	path = libs/derivejson
	url = https://github.com/zjhmale/derive-json-cpp.git
[submodule "libs/preprocessor"]
	path = libs/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "libs/cpr"]
	path = libs/cpr
	url = https://github.com/whoshuu/cpr.git
